.ScreenWidth {
    display: flex;
    position: absolute;
    min-width: 100px;
    left: 50%;
    top: 1%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.ScreenWidth:hover {
    opacity: 0.6;
}

@media screen and (1200px < width) {
    .ScreenWidth::before {
        content: "XL w";
    }

    .ScreenWidth {
        background-color: red;
    }
}

@media screen and (768px < width <= 1200px) {
    .ScreenWidth::before {
        content: "X w";
    }

    .ScreenWidth {
        background-color: orange;
    }
}

@media screen and (400px < width <= 768px) {
    .ScreenWidth::before {
        content: "M w";
    }

    .ScreenWidth {
        background-color: yellow;
    }
}

@media screen and (width <= 400px) {
    .ScreenWidth::before {
        content: "S w";
    }

    .ScreenWidth {
        background-color: greenyellow;
    }
}
